
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome! - faastRuby Local</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Overpass:400,800" rel="stylesheet">
  <link href="/assets/stylesheets/main.css" rel="stylesheet">
  <link rel="icon" href="/assets/images/favicon-150x150.png" sizes="32x32" />
  <link rel="icon" href="/assets/images/favicon.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png" />
  <meta name="msapplication-TileImage" content="/assets/images/favicon.png" />

</head>

<body>
  <header class="header">
    <div class="logo-image-div">
      <img src="/assets/images/logo-positive.png" class="logo-image">
    </div>
  </header>
  <div class="content">
    <h1 class="text-center"><%= @greeting %></h1>
    <p class="text-center">To customize this page, edit the function 'root'.</p>
  </div>

  <!-- JavaScript -->
  <script src="/assets/javascripts/main.js"></script>
</body>

</html>
